<div style="display: flex;flex-direction: row;" popover-trigge="outsideClick" class="pointer" popover-enable="!isMobile"
     ng-click="isMobile ? openModal() : null" popover-placement="bottom"
     uib-popover-template="'cartPopover.html'">
    <label style="color: white;margin-bottom:0px;line-height: 36px;padding-right:5px;">
        <i class="fa fa-shopping-cart"></i>
        <span>CARRELLO</span>
    </label>
    <icon-badge value="{{totProducts}}"></icon-badge>
</div>

<script type="text/ng-template" id="cartPopover.html">
    <div style="">


        <div style="list-style: none;margin: 0px;display: flex;flex-direction: column;" ng-if="totProducts > 0;">
            <div ng-repeat="cartProd in cartList" style="display: flex;flex-direction: row;">
                <div style="width: 80%;">
                    <i class="fa fa-minus pointer text-danger" ng-click="removeProd(cartProd.prod.id)"></i>
                    {{cartProd.prod.displayname}}
                </div>
                <div style="width: 30%;">
                    <icon-badge value="{{cartProd.quantity}}"></icon-badge>
                    <i class="fa fa-plus pointer text-success" style="padding-left: 12px;"
                       ng-click="addProdToCart(cartProd)"></i>
                </div>

            </div>

        </div>

        <label style="opacity: 0.7;" ng-if="totProducts === 0">Nessun articolo</label>
        <div style="padding-top: 10px;display:flex;flex-direction: row;">
            <label style="padding-right: 6px;">totale </label>
            <icon-badge icon="fa fa-euro" value="{{totalPrice}}"></icon-badge>
        </div>
        <div style="display: flex;flex-direction: column;align-items: center;margin-top: 10px;">
            <button class="btn btn-default btn-xs" ng-disabled="options.totProducts === 0" ng-if="totProducts > 0"><i
                    class="fa fa-bookmark"></i> PRENOTA
            </button>
        </div>
    </div>
</script>
