<div class="s-pageheader">

    <header class="header">
        <jc-menu current="{{pageNames.contact}}"></jc-menu>
    </header> <!-- header -->

</div> <!-- end s-pageheader -->
<section class="s-content">
    <div class="row">
        <div class="col-sm-4">
            <icon-badge icon="fa fa-info-circle" value="Info generali"></icon-badge>
            <p style="padding-top: 1rem;">La nostra ditta ha fatto tanto nell'arco della sua attività di oltre 40 anni. Due generazioni che hanno
                fatto conoscere il nostro modo di lavorare in tutta la Puglia, e anche nel Centro Sud.</p>

        </div>
        <div class="col-sm-8">
            <icon-badge icon="fa fa-info-circle" value="Il nostro successo"></icon-badge>
            <uib-accordion close-others="true" >
                <div uib-accordion-group class="panel-default" ng-model="accordionState1" ng-init="accordionState1 = false;" is-open="accordionState1" style="margin-top: 1rem;" >
                    <uib-accordion-heading>
                        <i class="fa fa-user secondary-text-color"></i> Il cliente prima di tutto <i class="pull-right glyphicon secondary-text-color" ng-class="{'glyphicon-chevron-down': accordionState1, 'glyphicon-chevron-right': !accordionState1}"></i>
                    </uib-accordion-heading>
                    This content is straight in the template.
                </div>
                <div uib-accordion-group class="panel-default" ng-model="accordionState2" ng-init="accordionState2 = false;" is-open="accordionState2">

                    <uib-accordion-heading>
                        <i class="fa fa-user secondary-text-color"></i> Innovazione <i class="pull-right glyphicon secondary-text-color" ng-class="{'glyphicon-chevron-down': accordionState2, 'glyphicon-chevron-right': !accordionState2}"></i>
                    </uib-accordion-heading>
                    This content is straight in the template.
                </div>
                <div uib-accordion-group class="panel-default" ng-model="accordionState3" ng-init="accordionState3 = false;" is-open="accordionState3">

                    <uib-accordion-heading>
                        <i class="fa fa-user secondary-text-color"></i> Prezzo e qualità <i class="pull-right glyphicon secondary-text-color" ng-class="{'glyphicon-chevron-down': accordionState3, 'glyphicon-chevron-right': !accordionState3}"></i>
                    </uib-accordion-heading>
                    This content is straight in the template.
                </div>
            </uib-accordion>
        </div>

    </div>
</section> <!-- s-content -->