<div class="row" ng-class="isMobile ? 'sm-work-slider-tab' : ''">
    <div class="row">
        <div class="col-sm-9" ng-if="!compat" >
            <ol class="nya-bs-select" ng-model="$parent.floorType" ng-init="$parent.floorType='Superficie'" style="">
                <li nya-bs-option="option in floorTypes" ng-class="{disabled: $index === 0 }">
                    <!-- the text content of anchor element will be used for search -->
                    <a>
                        {{ option }}
                        <span class="glyphicon glyphicon-ok check-mark" style="color: var(--secondary-color-dark)"
                              ng-if="$index !==0"></span>
                    </a>
                </li>
            </ol>
        </div>
        <div class="col-sm-3"><input type="number" min="20"  max="9999" ng-model="dimensionMq" placeholder="mq" style="width: 100%;"></div>

    </div>

    <div>

        <icon-badge custom-class="pointer {{isNuovaPosa ? 'active-tab-work' : 'none'}}"
                    uib-tooltip="Il pavimento è appena stato posato."
                    value="Nuova posa"
                    ng-click="isNuovaPosa = !isNuovaPosa"></icon-badge>

        <icon-badge custom-class="pointer {{isResina ? 'active-tab-work' : 'none'}}"
                    uib-tooltip="La stuccatura in resina garantisce maggiore durata, rispetto a quella in cemento."
                    value="Resina"
                    ng-click="isResina = !isResina"></icon-badge>

        <icon-badge custom-class="pointer {{isTratment ? 'active-tab-work' : 'none'}}"
                    uib-tooltip="Impermeabilizzazione della superficie."
                    value="Trattamento"
                    ng-click="isTratment = !isTratment"></icon-badge>


    </div>
    <div style="padding-top: 4rem;">

        <button class="btn btn-primary" style="color: white;"
                ng-click="openSopralluogoModal()"><i class="fa fa-map-marker"></i> Richiedi sopralluogo
        </button>

    </div>
    <icon-badge ng-class="isMobile ? 'sm-price-result' : ''" ng-if="resultPrice" custom-class="badge-lg" icon="fa fa-euro" value="{{resultPrice}}"></icon-badge>

</div>
