
    <div class="modal-header">
        <h6 class="modal-title" id="modal-title"><i class="fa fa-map-marker"></i> Sopralluogo</h6>
    </div>
    <div class="modal-body" id="modal-body">
        <input type="text" placeholder="Nome e Cognome">
        <input type="text" placeholder="Città">
        <input type="text" placeholder="Indirizzo">
        <p style="font-size: 1.1rem;">Verrai contattato il prima possibile, in modo da potersi mettere d'accordo</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-xs" type="button" ng-click="$ctrl.ok()"><i class="fa fa-paper-plane"></i> Invia</button>
        <button class="btn btn-primary btn-xs" type="button" ng-click="$ctrl.cancel()" style="margin-bottom:12px;">Chiudi</button>
    </div>
