<div class="material-box-1-simple" style="position: fixed;top:0px;z-index: 200">
<div style="background: var(--primary-color-dark);height: 1rem;">

</div>
   <a href="#!{{linkPages.home}}"> <img src="images/Domenico Ruta Logo 1.jpg"></a>
<div class="pointer" style="display: flex;flex-direction: row;justify-content: space-between;padding-right:15px;padding-left: 15px;background: var(--primary-color)">
    <div style="padding-top: 3px;"><a href="#!mobilemenu" style="color:white;"><span> <i class="fa fa-bars"></i></span></a></div>
    <div><cart-manager></cart-manager></div>
</div>
</div>