<section class="s-pageheader s-pageheader--home" ng-style=" isMobile ? {minHeight : '0px'} : {}">

    <jc-menu current="Home"></jc-menu>
    <div ng-if="!isMobile" class="pageheader-content">
        <div class="col-full">

            <div class="featured">

                <div class="featured__column featured__column--big">
                    <div class="entry" style="background-image:url('images/home/home-preventivo.jpg');">

                        <div class="entry__content">
                            <span class="entry__category"><a href="{{linkPages.price}}">Preventivo gratuito</a></span>

                            <h1><a href="#!{{linkPages.price}}" title="">Valuta istantaneamente il prezzo su misura per te</a></h1>

                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->
                </div> <!-- end featured__big -->

                <div class="featured__column featured__column--small">

                    <div class="entry" style="background-image:url('images/home/home-marmo.jpg');">

                        <div class="entry__content">
                            <span class="entry__category"><a href="#0">Marmo</a></span>
                            <h1><a href="#0" title="">La levigatura di una volta con le comodità moderne</a></h1>
                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->

                    <div class="entry" style="background-image:url('images/home/home-granito.jpg');">

                        <div class="entry__content">
                            <span class="entry__category"><a href="#0">Granito</a></span>

                            <h1><a href="#0" title="">Un effetto al 'diamante'</a></h1>

                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->

                </div> <!-- end featured__small -->
            </div> <!-- end featured -->

        </div> <!-- end col-full -->
    </div> <!-- end pageheader-content row -->

</section> <!-- end s-pageheader -->
<section class="s-content" ng-style="isMobile ? {paddingTop : '0rem'} : {paddingTop : '8.4rem'}">

    <div class="row masonry-wrap">
        <div class="masonry">

            <div class="grid-sizer"></div>

            <article class="masonry__brick entry format-standNard" data-aos="fade-up" style="opacity:1;">

                <div class="entry__thumb">
                   <!-- <a href="single-standard.html" class="entry__thumb-link">
                        <img src="images/home/home-cemento.jpg"
                             alt="">
                    </a>-->
                </div>

                <div class="entry__text">
                    <div class="entry__excerpt">
                        <h5 uib-tooltip="ciao">Prodotti</h5>
                        <ul style="" class="product-category-list">
                            <li ng-repeat="(key,value) in categories"><a href="#!productcategory/{{key}}">{{key}} <icon-badge value="{{value}}"></icon-badge></a></li>
                        </ul>
                    </div>

                </div>

            </article> <!-- end article -->
            <article class="masonry__brick entry format-standard" data-aos="fade-up" style="opacity:1;">

                <div class="entry__thumb">
                    <a href="single-standard.html" class="entry__thumb-link">
                        <img src="images/home/home-cotto.jpg"
                             alt="">
                    </a>
                </div>

                <div class="entry__text">
                    <div class="entry__excerpt">
                        <h5>40 anni di esperienza</h5>
                        <p>
                            La famiglia Ruta adopera nel settore della levigatura da oltre 2 generazioni, mettendo a vostro servizio una esperienza di oltre 40 anni.
                            <br>I nostri prezzi sono onesti e garantiscono una elevata qualità della lavorazione.
                            <br>
                            <br>
                            <button class="btn btn-success btn-xs">Continua <i class="fa fa-arrow-circle-right"></i></button>
                        </p>
                    </div>

                </div>

            </article> <!-- end article -->
            <article class="masonry__brick entry format-standard" data-aos="fade-up" style="opacity:1;">

                <div class="entry__thumb">
                    <a href="single-standard.html" class="entry__thumb-link">
                        <img src="images/thumbs/masonry/lamp-400.jpg"
                             srcset="images/thumbs/masonry/lamp-400.jpg 1x, images/thumbs/masonry/lamp-800.jpg 2x"
                             alt="">
                    </a>
                </div>

                <div class="entry__text">
                    <div class="entry__excerpt">
                        <h5>I nostri prodotti</h5>
                        <p>
                            Acquista prodotti per la lavorazione e la manutenzione di qualsiasi superficie, adatti a conservare i risultati del nostro lavoro.
                            <br>
                            Scopri i nostri consigli su come utilizzarli al meglio, prenota il tuo prodotto e ritiralo in sede.
                        </p>
                    </div>

                </div>

            </article> <!-- end article -->
        </div> <!-- end masonry -->
    </div> <!-- end masonry-wrap -->
</section> <!-- s-content -->